section{
    width: 800px;
    margin: auto;
    color: white;
    display: grid;
}
body{
    background-color: rgb(40, 40, 40);
}
nav{
    text-align:left;
    margin-left:40px ;
}
section ul{
    margin-left: 20px;
}
header nav ul li {
    display: inline-block;  
    margin-right: 20px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}
header nav ul li a:hover{
    color: orange;
}
.kin{
    text-align: center;
    color: white;
    font-size: 40px;
}
.nagy{
    font-size: 35px;
    font-weight: bolder;
    border-bottom: 2px solid orange;
}
.baldiv{
    padding-right: 60px;
}
.elso h2{
    text-align: center;
}
.elso{
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}
.elso ul li{
    
    list-style-image:url('kepek/icons8-arrow-24.png');
}
.elso div{
    padding:0px 20px;
}
.elso div ul{
    padding: 0;
}
.border{
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    
}
.kulsohatter{
    background-color: black;
}
.masodik{
    grid-template-columns: 1fr 1fr;
    background-color: black;
    background-size: contain;
    font-size: 15px;
}
img{
    max-width: 100%;
}
footer{
    display: grid;  
    width: 800px;
    margin: auto; 
    color: white;
    margin-top:40px;
    
}
footer img{
    border-radius: 100%;
}
footer h1,p{
    text-align: center;
    color: white;
}
.f{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.f h2{
    text-align: center;
}
button{
    border-radius: 30px;
    background-color: blue;
    margin-left:30%;
    color: white;
}
.b{
    background-color: black;
}
@media screen and (max-width:600px){
    .elso{
        grid-template-columns: 1fr;
    }
    .masodik{
        grid-template-columns: 1fr;
    }
    header nav ul li{
        display: block;
    }
    img{
        width :200px
    }
    .f{
        grid-template-columns: 1fr;
    }
    .elso h2{
        text-align: left;
    }
    .f h2{
        text-align: left;
    }
    button{
        margin: 0;
        padding-left: -90px;
        padding: 0;
        
    }
}